<%= render 'banner' %>
<div class="container">
  <div class="row"></div>
    <div class="col-xs-8">
      <div class="activity">
        <%= render 'feed' %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="competitors">
        <h3>My competitors</h3>
        <%= render "competitors/form" %>
        <% @competitors.each do |competitor| %>
          <p> <%= competitor.name %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
