<%= simple_form_for([@user, @competitor], remote: true) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :nickname, error: "Enter the twitter handle" , label: "Competitor alias (without '@'')", placeholder: "s_guillorit"%>
      </div>
      <div class="col-xs-12">
        <%= f.button :submit, value: "Create", class: "btn btn-margin" %>
      </div>
    </div>
    <div id="form-errors"></div>
  </div>
<% end %>
