<div class="form-competitor">
  <%= simple_form_for([@user, @target], remote: true) do |f| %>
    <%= f.button :submit, value: "Follow!", class: "btn btn-margin" %>
    <div id="form-errors"></div>
  <% end %>
</div>
